In [2]:
import pandas as pd
read=pd.read_csv("E:\TEST\CONTACT.csv")
print(read.to_string())

    AKI  1424141514
0   KAE   451423635
1   LIA  4596512247
2  SYED  4578986532
3   LIN  1245789865
4  KILL  1245873265
5   LUK  4512789865
6   KIL  4578983212

In [3]:
import pandas
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
import pandas as pd
mydatset={
    'cars' : ["BMW","VOLVO","FORD"],
    'passings' : [3,7,2]
}
myvar=pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
import pandas as pd
print(pd.__version__)

2.3.3

In [6]:
import pandas as pd 
data={
    'CARS' : ["BMW","mercededs","FORD"],
    'SPEED' : ["230","200","220"]
}
myvar=pd.DataFrame(data)
print(myvar)

        CARS SPEED
0        BMW   230
1  mercededs   200
2       FORD   220

In [8]:
import pandas as pd
a=[7,9,1,3,4,8]
print(pd.Series(a[0]))

0    7
dtype: int64

In [9]:
import pandas as pd
a=[1,4,5,7]
myvar=pd.Series(a,index=["x","y","z","w"])
print(myvar)

x    1
y    4
z    5
w    7
dtype: int64

In [10]:
print(myvar["x"])

1

In [11]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [13]:
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [21]:
import pandas as pd
data={
    "CARS" : ["BMW","KOOI","HELLO"],
    "SPEED" : ["200","300","250"]
}
myvar=pd.DataFrame(data,index=["1","2","3"])
print(myvar)
print(myvar.loc["1"])

    CARS SPEED
1    BMW   200
2   KOOI   300
3  HELLO   250
CARS     BMW
SPEED    200
Name: 1, dtype: object

In [22]:
import pandas as pd
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [23]:
import pandas as pd
data ={
    "DURATION": {
        "0":60,
        "1":40,
        "2":50,
        "3":60
     },
    "CALORIES":{
        "0":160,
        "1":240,
        "2":350,
        "3":460
     },
    "MAXPLUSE":{
        "0":560,
        "1":420,
        "2":500,
        "3":960
    } 
}
myvar=pd.DataFrame(data)
print(myvar)

   DURATION  CALORIES  MAXPLUSE
0        60       160       560
1        40       240       420
2        50       350       500
3        60       460       960

In [27]:
import pandas as pd

data = {
    "Age": [20, 21, 22, 23],
    "Marks": [85, 60, 35, 90],
    "Passed": ["Yes", "Yes", "No", "Yes"]
}
df = pd.DataFrame(data)
print(df)
print(df.shape)      
print(df.columns)  
print(df.dtypes) 
print(df.loc[2])
print(df.iloc[1:3])

   Age  Marks Passed
0   20     85    Yes
1   21     60    Yes
2   22     35     No
3   23     90    Yes
(4, 3)
Index(['Age', 'Marks', 'Passed'], dtype='object')
Age        int64
Marks      int64
Passed    object
dtype: object
Age       22
Marks     35
Passed    No
Name: 2, dtype: object
   Age  Marks Passed
1   21     60    Yes
2   22     35     No

In [4]:
import pandas as pd 
df=pd.read_csv(r"E:\TEST\STUDENT.csv")
print(df)
print(df.head())
print(df.tail())
print(df.describe())
print(df.shape)
print(df.info())

   2023511003   SIR   65
0  2023511004   RON   96
1  2023511005  syed   56
2  1012511001   BIR   78
3  1012511003   SAR   87
4  1012511004   RIN   96
5  1012511005  SYED  100
   2023511003   SIR  65
0  2023511004   RON  96
1  2023511005  syed  56
2  1012511001   BIR  78
3  1012511003   SAR  87
4  1012511004   RIN  96
   2023511003   SIR   65
1  2023511005  syed   56
2  1012511001   BIR   78
3  1012511003   SAR   87
4  1012511004   RIN   96
5  1012511005  SYED  100
         2023511003          65
count  6.000000e+00    6.000000
mean   1.349511e+09   85.500000
std    5.220782e+08   16.489391
min    1.012511e+09   56.000000
25%    1.012511e+09   80.250000
50%    1.012511e+09   91.500000
75%    1.770761e+09   96.000000
max    2.023511e+09  100.000000
(6, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2023511003  6 non-null      int64
 1   SIR         6 non-null      object
 2   65          6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None